body{
    background-color: #ece5db;
    

}

@media (min-width: 700px) and (max-width: 800px){
	.lateral{
		width: 33%;
		float: right;
		background-color: #6ee;
	}
}

btn-busqueda{
    align-content: right;
}

.testbox{
	height: 100px;
}


main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px;
}