body{
    background-color: #ece5db;
    

}

@media (min-width: 700px) and (max-width: 800px){
	.lateral{
		width: 33%;
		float: right;
		background-color: #6ee;
	}
}

btn-busqueda{
    align-content: right;
}

.testbox{
	height: 100px;
}



.btn-descripcion{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: #d3cbc0;
	padding: 5px;
}

.btn-g{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: #d3cbc0;
	padding: 5px;
	text-align: center;
	height: 50px;
}
